html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000000;
    color: #ffffff;
    font-family: Consolas, monospace;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
* {
    color: #ffffff;
    font-family: Consolas, monospace;
}

input {
    background: #000000;
    border: none;
    border-bottom: 2px solid white;
    width: 300px;
}
input:invalid {
    border-bottom-color: #ff0000;
}

button {
    background: #000000;
    border: 1px solid white;
    cursor: pointer;
}